<div class="chat-icon" (click)="openChatDialog()">
     <i class="fas fa-comment-alt"></i>
   </div>
  <p-dialog
  header="{{ 'Chat với Admin' | translate }}"
  [(visible)]="showChatDialog"
  [modal]="true"
  [style]="{ width: '400px' }"
  [baseZIndex]="10000"
  [draggable]="false"
  [resizable]="false"
  styleClass="custom-chat-dialog"
>


     <div class="chat-container">
       <div class="chat-messages" #chatMessages>
         <div *ngFor="let message of messages" [ngClass]="{'chat-message-user': message.isUser, 'chat-message-admin': !message.isUser}">
           <p>{{ message.text }}</p>
           <small>{{ message.timestamp | date:'shortTime' }}</small>
         </div>
       </div>
       <div class="chat-input">
  <input
    type="text"
    [(ngModel)]="newMessage"
    [placeholder]="'nhập tin nhắn...' | translate"
    (keyup.enter)="sendMessage()" />

  <button class="send-button" (click)="sendMessage()">
<i class="fas fa-paper-plane"></i>  </button>
</div>
     </div>
   </p-dialog>