/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

:host ::ng-deep .p-toast {
    opacity: 1 !important; /* Đảm bảo không trong suốt */
    background-color: rgba(255, 255, 255, 0.95) !important; /* Nền trắng với độ mờ nhẹ */
   
    z-index: 9999 !important; /* Đảm bảo hiển thị trên cùng */
  }
  
  /* Tùy chỉnh từng loại thông báo để không bị trong suốt */
  :host ::ng-deep .p-toast.p-toast-info {
    background-color: #e1f3f8 !important; /* Màu nền cho info */
  }
  
  :host ::ng-deep .p-toast.p-toast-warn {
    background-color: #fff3e6 !important; /* Màu nền cho warn */
  }
  
  :host ::ng-deep .p-toast.p-toast-success {
    background-color: #e6f4e6 !important; /* Màu nền cho success */
  }
  
  :host ::ng-deep .p-toast.p-toast-error {
    background-color: #f8e1e1 !important; /* Màu nền cho error */
  }
  .custom-chat-dialog.p-dialog {
  position: fixed !important;
  bottom: 20px;
  right: 120px;
  margin: 0 !important;
  transform: none !important;
}
