/* Trong component.css */
.status-pending {
    background-color: #ffc107 !important; /* Màu vàng */
    color: #212529 !important; /* Chữ đen */
    font-size: 14px !important;
    font-weight: bold !important;
    padding: 8px 12px !important;
    border-radius: 12px !important;
}

.status-approved {
    background-color: #28a745 !important; /* Màu xanh lá */
    color: white !important;
    font-size: 14px !important;
    font-weight: bold !important;
    padding: 8px 12px !important;
    border-radius: 12px !important;
}