<div *ngIf="showLayout">
  <p-toast></p-toast>
  <p-confirmDialog></p-confirmDialog>
  <!-- HEADER AREA START (header-3) -->
  <header class="ltn__header-area ltn__header-3 section-bg-6---">

    <!-- ltn__header-top-area start -->
    <div class="ltn__header-top-area border-bottom top-area-color-white---">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <div class="ltn__top-bar-menu">
              <ul>
                <li><a href="mailto:trungtamthongbaoso15@gmail.com"><i class="icon-mail"></i>
                    trungtamthongbaoso15&#64;gmail.com</a></li>
                <li><a href="locations.html"><i class="icon-placeholder"></i> Thu Duc, Ho Chi Minh </a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-5">
            <div class="top-bar-right text-end">
              <div class="ltn__top-bar-menu">
                <ul>
                  <li>
                    <!-- ltn__language-menu -->
                    <div class="ltn__drop-menu ltn__currency-menu ltn__language-menu">
                      <ul>
                        <li>
                          <a href="#" class="dropdown-toggle">
                            <span class="active-currency">{{getCurrentLanguageLabel()}}</span>
                          </a>
                          <ul>
                            <li>
                              <a href="#" (click)="switchLanguage(); $event.preventDefault()">
                                {{getOtherLanguageLabel()}}
                              </a>
                            </li>
                          </ul>
                        </li>
                      </ul>
                    </div>
                  </li>
                  <li>
                    <!-- ltn__social-media -->
                    <div class="ltn__social-media">
                      <ul>
                        <li><a href="#" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#" title="Twitter"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#" title="Instagram"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="#" title="Dribbble"><i class="fab fa-dribbble"></i></a></li>
                      </ul>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ltn__header-top-area end -->

    <!-- ltn__header-middle-area start -->
    <div class="ltn__header-middle-area">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="site-logo">
              <a href="index.html"><img src="assets/img/logo.png" alt="Logo"></a>
            </div>
          </div>
          <div class="col header-contact-serarch-column d-none d-xl-block">
            <div class="header-contact-search">
              <!-- header-search-2 -->
              <div class="header-search-2">
                <form id="#123" method="get" action="#">
                  <input type="text" name="search" value="" [placeholder]="'tim_kiem' | translate" />
                  <button type="submit">
                    <span><i class="icon-search"></i></span>
                  </button>
                </form>
              </div>
            </div>
          </div>
          <div class="col">
            <!-- header-options -->
            <div class="ltn__header-options">
              <ul>
                <li class="d-none---">
                  <!-- header-search-1 -->
                  <div class="header-search-wrap d-block d-xl-none">
                    <div class="header-search-1">
                      <div class="search-icon">
                        <i class="icon-search for-search-show"></i>
                        <i class="icon-cancel for-search-close"></i>
                      </div>
                    </div>
                    <div class="header-search-1-form">
                      <form id="#" method="get" action="#">
                        <input type="text" name="search" value="" [placeholder]="'tim_kiem' | translate" />
                        <button type="submit">
                          <span><i class="icon-search"></i></span>
                        </button>
                      </form>
                    </div>
                  </div>
                </li>
                <li class="d-none---">
                  <!-- user-menu -->
                  <div class="ltn__drop-menu user-menu">
                    <ul>
                      <li>
                        <a><i class="icon-user"></i></a>

                        <!-- Nếu account có username thì là đã đăng nhập -->
                        <ul *ngIf="account?.username; else guestMenu">
                          <li><a (click)="gotoUserInfo()">{{ 'tai_khoan_cua_toi' | translate }}</a></li>
                          <li><a href="#" (click)="logout()">{{ 'dang_xuat' | translate }}</a></li>
                        </ul>

                        <!-- Nếu chưa đăng nhập -->
                        <ng-template #guestMenu>
                          <ul>
                            <li><a [routerLink]="['/login']">{{ 'dang_nhap' | translate }}</a></li>
                          </ul>
                        </ng-template>
                      </li>
                    </ul>
                  </div>
                </li>
                <li>
                  <!-- mini-cart 2 -->
                  <div class="mini-cart-icon mini-cart-icon-2">
                    <a (click)="goToCart()" class="ltn__utilize-toggle">
                      <span class="mini-cart-icon">
                        <i class="icon-shopping-cart"></i>
                        <sup>2</sup>
                      </span>
                      <h6><span>{{ 'xin_chao' | translate }} {{account.username}}</span> <span
                          class="ltn__secondary-color"></span></h6>
                    </a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ltn__header-middle-area end -->

    <!-- MOBILE MENU START -->
    <div class="mobile-header-menu-fullwidth mb-20 d-block d-lg-none">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <!-- Mobile Menu Button -->
            <div class="mobile-menu-toggle d-lg-none">
              <span>{{ 'menu' | translate }}</span>
              <a href="#ltn__utilize-mobile-menu" class="ltn__utilize-toggle">
                <svg viewBox="0 0 800 600">
                  <path d="M300,220 C300,220 520,220 540,220 C740,220 640,540 520,420 C440,340 300,200 300,200"
                    id="top">
                  </path>
                  <path d="M300,320 L540,320" id="middle"></path>
                  <path d="M300,210 C300,210 520,210 540,210 C740,210 640,530 520,410 C440,330 300,190 300,190"
                    id="bottom" transform="translate(480, 320) scale(1, -1) translate(-480, -318) "></path>
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- MOBILE MENU END -->

    <!-- header-bottom-area start -->
    <div
      class="header-bottom-area ltn__border-top--- ltn__header-sticky ltn__sticky-bg-white ltn__primary-bg---- menu-color-white---- d-none--- d-lg-block">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 align-self-center">
            <!-- CATEGORY-MENU-LIST START -->
            <div class="ltn__category-menu-wrap ltn__category-dropdown-hide ltn__category-menu-with-header-menu">
              <div class="ltn__category-menu-title">
                <h2 class="section-bg-1--- ltn__secondary-bg text-color-white">{{ 'danh_muc' | translate }}</h2>
              </div>
              <div class="ltn__category-menu-toggle ltn__one-line-active">
                <ul>
                  <ng-container *ngFor="let cate of categories">
                    <li class="ltn__category-menu-item ltn__category-menu-drop"
                      (mouseover)="findCategoryByCategoryParent(cate.id)" style="cursor: pointer;">
                      <a (click)="goToProducts()">
                        <img [src]="cate.imageUrl" alt="" style="width: 35px; height: 35px; margin-right: 10px;">
                        {{ cate.categoryName }}
                      </a>
                      <ul class="ltn__category-submenu ltn__category-column" style="width: 420px;">
                        <li class="ltn__category-submenu-title ltn__category-menu-drop"
                          style="width: 380px; cursor: pointer;">
                          <a href="#">{{ cate.categoryName }}</a>
                          <ul class="ltn__category-submenu-children" style="max-height: 390px; overflow-y: auto;">
                            <ng-container *ngFor="let cate1 of listChildrenCategory">
                              <li>
                                <a (click)="goToCategoryById(cate1.id)">
                                  <img [src]="cate1.imageUrl" alt=""
                                    style="width: 70px; height: 70px; margin-right: 10px;">
                                  <span>{{ cate1.categoryName }}</span>
                                </a>
                              </li>
                            </ng-container>
                          </ul>
                        </li>
                      </ul>
                    </li>
                  </ng-container>
                </ul>
              </div>
            </div>
            <!-- END CATEGORY-MENU-LIST -->
          </div>
          <div class="col-lg-7">
            <div class="col--- header-menu-column justify-content-center---">
              <div class="header-menu header-menu-2 text-start">
                <nav>
                  <div class="ltn__main-menu">
                    <ul>
                      <!-- HOME -->
                      <li class="menu-icon">
                        <a (click)="goToHome()">{{ 'trang_chu' | translate }}</a>
                      </li>
                      <li class="menu-icon">
                        <a (click)="goToAbout()">{{ 've_chung_toi' | translate }}</a>
                      </li>
                      <li class="menu-icon">
                        <a (click)="goToProducts()">{{ 'san_pham' | translate }}</a>
                      </li>
                      <li class="menu-icon">
                        <a (click)="goToLocations()">{{ 'thong_tin' | translate }}</a>
                        <ul>
                          <li><a (click)="goToOrder()">{{ 'theo_doi_don_hang' | translate }}</a></li>
                          <li><a (click)="goToServices()">{{ 'cua_hang_gan_ban' | translate }}</a></li>
                          <li><a (click)="goToServices()">{{ 'giay_phep_kinh_doanh' | translate }}</a></li>
                          <li><a (click)="goToServices()">{{ 'he_thong_ban_le' | translate }}</a></li>
                          <li><a (click)="goToServices()">{{ 'y_te' | translate }}</a></li>
                        </ul>
                      </li>
                      <li class="menu-icon">
                        <a (click)="goToContact()">{{ 'lien_he' | translate }}</a>
                      </li>
                    </ul>
                  </div>
                </nav>
              </div>
            </div>
          </div>
          <div class="col-lg-2 align-self-center d-none d-xl-block">
            <div class="header-contact-info text-end">
              <a class="font-weight-6 ltn__primary-color" href="tel:+84843281139">
                <span class="ltn__secondary-color">
                  <i class="icon-call font-weight-7"></i>
                </span> +84 843 281 139
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- header-bottom-area end -->
  </header>
  <!-- HEADER AREA END -->
  <router-outlet></router-outlet>

  <!-- FOOTER AREA START -->
  <footer class="ltn__footer-area">
    <div class="footer-top-area section-bg-2 plr--5">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xl-3 col-md-6 col-sm-6 col-12">
            <div class="footer-widget footer-about-widget">
              <div class="footer-logo">
                <div class="site-logo">
                  <img [src]="'assets/img/logo-2.png'" alt="Logo">
                </div>
              </div>
              <p>{{ 'mo_ta_cong_ty' | translate }}</p>
              <div class="footer-address">
                <ul>
                  <li>
                    <div class="footer-address-icon">
                      <i class="icon-placeholder"></i>
                    </div>
                    <div class="footer-address-info">
                      <p>Thu Duc, Ho Chi Minh</p>
                    </div>
                  </li>
                  <li>
                    <div class="footer-address-icon">
                      <i class="icon-call"></i>
                    </div>
                    <div class="footer-address-info">
                      <p><a href="tel:+84843281139">+84 843 281 139</a></p>
                    </div>
                  </li>
                  <li>
                    <div class="footer-address-icon">
                      <i class="icon-mail"></i>
                    </div>
                    <div class="footer-address-info">
                      <p><a href="mailto:trungtamthongbaoso15@gmail.com">trungtamthongbaoso15&#64;gmail.com</a></p>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="ltn__social-media mt-20">
                <ul>
                  <li><a href="#" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                  <li><a href="#" title="Twitter"><i class="fab fa-twitter"></i></a></li>
                  <li><a href="#" title="Linkedin"><i class="fab fa-linkedin"></i></a></li>
                  <li><a href="#" title="Youtube"><i class="fab fa-youtube"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xl-2 col-md-6 col-sm-6 col-12">
            <div class="footer-widget footer-menu-widget clearfix">
              <h4 class="footer-title">{{ 'khap_ca_nuoc' | translate }}</h4>
              <div class="footer-menu">
                <ul>
                  <li><a href="about.html">{{ 'ha_noi' | translate }}</a></li>
                  <li><a href="blog.html">{{ 'hai_phong' | translate }}</a></li>
                  <li><a href="shop.html">{{ 'hue' | translate }}</a></li>
                  <li><a href="locations.html">{{ 'da_nang' | translate }}</a></li>
                  <li><a href="faq.html">{{ 'tp_ho_chi_minh' | translate }}</a></li>
                  <li><a href="contact.html">{{ 'can_tho' | translate }}</a></li>
                  <li><a href="contact.html">...</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xl-2 col-md-6 col-sm-6 col-12">
            <div class="footer-widget footer-menu-widget clearfix">
              <h4 class="footer-title">{{ 'dich_vu' | translate }}</h4>
              <div class="footer-menu">
                <ul>
                  <li><a href="order-tracking.html">{{ 'ho_tro_24_24' | translate }}</a></li>
                  <li><a href="wishlist.html">{{ 'tu_van_trieu_chung_benh' | translate }}</a></li>
                  <li><a href="login.html">{{ 'ban_le_toan_quoc' | translate }}</a></li>
                  <li><a href="account.html">{{ 'thanh_vien' | translate }}</a></li>
                  <li><a href="about.html">{{ 'da_dang_thuoc' | translate }}</a></li>
                  <li><a href="about.html">{{ 'toa_thuoc_dac_tri' | translate }}</a></li>
                  <li><a href="about.html">{{ 'doi_ngu_bac_si' | translate }}</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xl-2 col-md-6 col-sm-6 col-12">
            <div class="footer-widget footer-menu-widget clearfix">
              <h4 class="footer-title">{{ 'quyen_loi' | translate }}</h4>
              <div class="footer-menu">
                <ul>
                  <li><a href="login.html">{{ 'mien_phi_van_chuyen' | translate }}</a></li>
                  <li><a href="account.html">{{ 'theo_doi_tinh_trang_benh' | translate }}</a></li>
                  <li><a href="wishlist.html">{{ 'thanh_toan_nhanh_chong' | translate }}</a></li>
                  <li><a href="order-tracking.html">{{ 'nhan_hang_va_thanh_toan' | translate }}</a></li>
                  <li><a href="order-tracking.html">{{ 'doi_ngu_duoc_si_chuyen' | translate }}</a></li>
                  <li><a href="faq.html">{{ 'bao_mat' | translate }}</a></li>
                  <li><a href="contact.html">{{ 'giai_dap_thac_mac' | translate }}</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-md-6 col-sm-12 col-12">
            <div class="footer-widget footer-newsletter-widget">
              <h4 class="footer-title">{{ 'doi_ngu_chung_toi_gom' | translate }}</h4>
              <ul>
                <li><a href="login.html">Phan The Thinh</a></li>
                <li><a href="account.html">Nguyen Tran Phuc Thanh</a></li>
              </ul>
              <h5 class="mt-30">{{ 'ho_tro_thanh_toan' | translate }}</h5>
              <img src="assets/img/icons/payment-4.png" alt="Payment Image">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ltn__copyright-area ltn__copyright-2 section-bg-7 plr--5">
      <div class="container-fluid ltn__border-top-2">
        <div class="row">
          <div class="col-md-6 col-12">
            <div class="ltn__copyright-design clearfix">
              <p>{{ 'ban_quyen' | translate }} <span class="current-year"></span></p>
            </div>
          </div>
          <div class="col-md-6 col-12 align-self-center">
            <div class="ltn__copyright-menu text-end">
              <ul>
                <li><a href="#">{{ 'dieu_khoan_dieu_kien' | translate }}</a></li>
                <li><a href="#">{{ 'ban_quyen' | translate }}</a></li>
                <li><a href="#">{{ 'chinh_sach' | translate }}</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- FOOTER AREA END -->
</div>

<router-outlet *ngIf="!showLayout"></router-outlet>