<div *ngIf="showLayout">
  <p-toast></p-toast>
  <p-confirmDialog></p-confirmDialog>
  <!-- HEADER AREA START (header-3) -->
  <header class="ltn__header-area ltn__header-3 section-bg-6---">

    <!-- ltn__header-top-area start -->
    <div class="ltn__header-top-area border-bottom top-area-color-white---">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <div class="ltn__top-bar-menu">
              <ul>
                <li><a href="mailto:info@webmail.com?Subject=Flower%20greetings%20to%20you"><i class="icon-mail"></i>
                    trungtamthongbaoso15&#64;gmail.com</a></li>
                <li><a href="locations.html"><i class="icon-placeholder"></i> Thu Duc, Ho Chi Minh </a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-5">
            <div class="top-bar-right text-end">
              <div class="ltn__top-bar-menu">
                <ul>
                  <li>
                    <!-- ltn__language-menu -->
                    <div class="ltn__drop-menu ltn__currency-menu ltn__language-menu">
                      <ul>
                        <li><a href="#" class="dropdown-toggle"><span class="active-currency">Tiếng Việt</span></a>
                          <ul>
                            <li><a href="#">English</a></li>
                            <li><a href="#">France</a></li>
                            <li><a href="#">Chinese</a></li>
                            
                          </ul>
                        </li>
                      </ul>
                    </div>
                  </li>
                  <li>
                    <!-- ltn__social-media -->
                    <div class="ltn__social-media">
                      <ul>
                        <li><a href="#" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#" title="Twitter"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#" title="Instagram"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="#" title="Dribbble"><i class="fab fa-dribbble"></i></a></li>
                      </ul>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ltn__header-top-area end -->
        <!-- Utilize Cart Menu Start -->

        <!-- gio hang -->
        <!-- <div id="ltn__utilize-cart-menu" class="ltn__utilize ltn__utilize-cart-menu">
          <div class="ltn__utilize-menu-inner ltn__scrollbar">
            <div class="ltn__utilize-menu-head">
              <span class="ltn__utilize-menu-title">Cart</span>
              <button class="ltn__utilize-close">×</button>
            </div>
            <div class="mini-cart-product-area ltn__scrollbar">
              <div class="mini-cart-item clearfix">
                <div class="mini-cart-img">
                  <a href="#"><img src="assets/img/product/1.png" alt="Image"></a>
                  <span class="mini-cart-item-delete"><i class="icon-cancel"></i></span>
                </div>
                <div class="mini-cart-info">
                  <h6><a href="#">Antiseptic Spray</a></h6>
                  <span class="mini-cart-quantity">1 x $65.00</span>
                </div>
              </div>
              <div class="mini-cart-item clearfix">
                <div class="mini-cart-img">
                  <a href="#"><img src="assets/img/product/2.png" alt="Image"></a>
                  <span class="mini-cart-item-delete"><i class="icon-cancel"></i></span>
                </div>
                <div class="mini-cart-info">
                  <h6><a href="#">Digital Stethoscope</a></h6>
                  <span class="mini-cart-quantity">1 x $85.00</span>
                </div>
              </div>
              <div class="mini-cart-item clearfix">
                <div class="mini-cart-img">
                  <a href="#"><img src="assets/img/product/3.png" alt="Image"></a>
                  <span class="mini-cart-item-delete"><i class="icon-cancel"></i></span>
                </div>
                <div class="mini-cart-info">
                  <h6><a href="#">Cosmetic Containers</a></h6>
                  <span class="mini-cart-quantity">1 x $92.00</span>
                </div>
              </div>
              <div class="mini-cart-item clearfix">
                <div class="mini-cart-img">
                  <a href="#"><img src="assets/img/product/4.png" alt="Image"></a>
                  <span class="mini-cart-item-delete"><i class="icon-cancel"></i></span>
                </div>
                <div class="mini-cart-info">
                  <h6><a href="#">Thermometer Gun</a></h6>
                  <span class="mini-cart-quantity">1 x $68.00</span>
                </div>
              </div>
            </div>
            <div class="mini-cart-footer">
              <div class="mini-cart-sub-total">
                <h5>Subtotal: <span>$310.00</span></h5>
              </div>
              <div class="btn-wrapper">
                <a href="cart.html" class="theme-btn-1 btn btn-effect-1">View Cart</a>
                <a href="cart.html" class="theme-btn-2 btn btn-effect-2">Checkout</a>
              </div>
              <p>Free Shipping on All Orders Over $100!</p>
            </div>
        
          </div>
        </div> -->
        <!-- Utilize Cart Menu End -->
    <!-- ltn__header-middle-area start -->
    <div class="ltn__header-middle-area">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="site-logo">
              <a href="index.html"><img src="assets/img/logo.png" alt="Logo"></a>
            </div>
          </div>
          <div class="col header-contact-serarch-column d-none d-xl-block">
            <div class="header-contact-search">
              <!-- header-feature-item -->
              <div class="header-feature-item d-none">
                <div class="header-feature-icon">
                  <i class="icon-phone"></i>
                </div>
                <div class="header-feature-info">
                  <h6>Phone</h6>
                  <p><a href="tel:0123456789">+84 843 281 139</a></p>
                </div>
              </div>
              <!-- header-search-2 -->
              <div class="header-search-2">
                <form id="#123" method="get" action="#">
                  <input type="text" name="search" value="" placeholder="Tìm kiếm..." />
                  <button type="submit">
                    <span><i class="icon-search"></i></span>
                  </button>
                </form>
              </div>
            </div>
          </div>
          <div class="col">
            <!-- header-options -->
            <div class="ltn__header-options">
              <ul>
                <li class="d-none">
                  <!-- ltn__currency-menu -->
                  <div class="ltn__drop-menu ltn__currency-menu">
                    <ul>
                      <li><a href="#" class="dropdown-toggle"><span class="active-currency">USD</span></a>
                        <ul>
                          <li><a href="login.html">USD - US Dollar</a></li>
                          <li><a href="wishlist.html">CAD - Canada Dollar</a></li>
                          <li><a href="register.html">EUR - Euro</a></li>
                          <li><a href="account.html">GBP - British Pound</a></li>
                          <li><a href="wishlist.html">INR - Indian Rupee</a></li>
                          <li><a href="wishlist.html">BDT - Bangladesh Taka</a></li>
                          <li><a href="wishlist.html">JPY - Japan Yen</a></li>
                          <li><a href="wishlist.html">AUD - Australian Dollar</a></li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                </li>
                <li class="d-none---">
                  <!-- header-search-1 -->
                  <div class="header-search-wrap d-block d-xl-none">
                    <div class="header-search-1">
                      <div class="search-icon">
                        <i class="icon-search for-search-show"></i>
                        <i class="icon-cancel for-search-close"></i>
                      </div>
                    </div>
                    <div class="header-search-1-form">
                      <form id="#" method="get" action="#">
                        <input type="text" name="search" value="" placeholder="Search here..." />
                        <button type="submit">
                          <span><i class="icon-search"></i></span>
                        </button>
                      </form>
                    </div>
                  </div>
                </li>
                <li class="d-none---">
                  <!-- user-menu -->
                  <div class="ltn__drop-menu user-menu">
                    <ul>
                    <li>
                      <a><i class="icon-user"></i></a>
                    
                      <!-- Nếu account có username thì là đã đăng nhập -->
                      <ul *ngIf="account?.username; else guestMenu">
                        <li><a (click)="gotoUserInfo()">Tài khoản của tôi</a></li>
                        <li><a href="#" (click)="logout()">Đăng xuất</a></li>
                      </ul>
                    
                      <!-- Nếu chưa đăng nhập -->
                      <ng-template #guestMenu>
                        <ul>
                          <li><a [routerLink]="['/login']">Đăng nhập</a></li>
                          <!-- <li><a [routerLink]="['/register']">Đăng kí</a></li> -->
                        </ul>
                      </ng-template>
                    </li>

                    </ul>
                  </div>
                </li>
                <li>
                  <!-- mini-cart 2 -->
                  <div class="mini-cart-icon mini-cart-icon-2">
                    <a (click)="goToCart()" class="ltn__utilize-toggle">
                      <span class="mini-cart-icon">
                        <i class="icon-shopping-cart"></i>
                        <sup>2</sup>
                      </span>
                      <h6><span>Xin chào {{account.username}}</span> <span class="ltn__secondary-color"></span></h6>
                    </a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ltn__header-middle-area end -->

    <!-- MOBILE MENU START -->
    <div class="mobile-header-menu-fullwidth mb-20 d-block d-lg-none">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <!-- Mobile Menu Button -->
            <div class="mobile-menu-toggle d-lg-none">
              <span>MENU</span>
              <a href="#ltn__utilize-mobile-menu" class="ltn__utilize-toggle">
                <svg viewBox="0 0 800 600">
                  <path d="M300,220 C300,220 520,220 540,220 C740,220 640,540 520,420 C440,340 300,200 300,200"
                    id="top">
                  </path>
                  <path d="M300,320 L540,320" id="middle"></path>
                  <path d="M300,210 C300,210 520,210 540,210 C740,210 640,530 520,410 C440,330 300,190 300,190"
                    id="bottom" transform="translate(480, 320) scale(1, -1) translate(-480, -318) "></path>
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- MOBILE MENU END -->

    <!-- header-bottom-area start -->
    <div
      class="header-bottom-area ltn__border-top--- ltn__header-sticky ltn__sticky-bg-white ltn__primary-bg---- menu-color-white---- d-none--- d-lg-block">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 align-self-center">
            <!-- CATEGORY-MENU-LIST START -->
            <div class="ltn__category-menu-wrap ltn__category-dropdown-hide ltn__category-menu-with-header-menu">
              <div class="ltn__category-menu-title">
                <h2 class="section-bg-1--- ltn__secondary-bg text-color-white">Danh Mục </h2>
              </div>
              <div class="ltn__category-menu-toggle ltn__one-line-active">
                <ul>
                  <ng-container *ngFor="let cate of categories">
                    <li class="ltn__category-menu-item ltn__category-menu-drop"
                      (mouseover)="findCategoryByCategoryParent(cate.id)" style="cursor: pointer;">
                      <a (click)="goToProducts()">
                        <img [src]="cate.imageUrl" alt="" style="width: 35px; height: 35px; margin-right: 10px;">
                        {{ cate.categoryName }}
                      </a>
                      <ul class="ltn__category-submenu ltn__category-column" style="width: 420px;">
                        <li class="ltn__category-submenu-title ltn__category-menu-drop"
                          style="width: 380px; cursor: pointer;">
                          <a href="#">{{ cate.categoryName }}</a>
                          <ul class="ltn__category-submenu-children" style="max-height: 390px; overflow-y: auto;">
                            <ng-container *ngFor="let cate1 of listChildrenCategory">
                              <li>
                                <a (click)="goToCategoryById(cate1.id)">
                                  <img [src]="cate1.imageUrl" alt=""
                                    style="width: 70px; height: 70px; margin-right: 10px;">
                                  <span>{{ cate1.categoryName }}</span>
                                </a>
                              </li>
                            </ng-container>
                          </ul>
                        </li>
                      </ul>
                    </li>
                  </ng-container>
                  <!-- <li class="ltn__category-menu-more-item-parent">
                    <a class="rx-default">
                      More categories <span class="cat-thumb icon-plus"></span>
                    </a>
                    <a class="rx-show">
                      Close menu <span class="cat-thumb icon-remove"></span>
                    </a>
                  </li> -->
                </ul>
              </div>
            </div>
            <!-- END CATEGORY-MENU-LIST -->
          </div>
          <div class="col-lg-7">
            <div class="col--- header-menu-column justify-content-center---">
              <div class="header-menu header-menu-2 text-start">
                <nav>
                  <div class="ltn__main-menu">
                    <ul>
                      <!-- HOME -->
                      <li class="menu-icon">
                        <a (click)="goToHome()">Trang chủ</a>
                      </li>
                      <li class="menu-icon">
                        <a (click)="goToAbout()">Chúng tôi</a>
                        
                      </li>
                      <li class="menu-icon"><a (click)="goToProducts()">Sản phẩm</a>
                        
                      </li>
                      <li class="menu-icon"><a (click)="goToLocations()">Thông tin</a>
                        <ul>
                          <li><a (click)="goToServices()">Cửa hàng gần bạn</a></li>
                          <li><a (click)="goToServices()">Giấy phép kinh doanh</a></li>
                          <li><a (click)="goToServices()">Hệ thống bán lẻ</a></li>
                          <li><a (click)="goToServices()">Y tế</a></li>
                        </ul>
                      </li>
                      <li class="menu-icon"><a (click)="goToContact()">Liên hệ</a></li>
                    </ul>
                  </div>
                </nav>
              </div>
            </div>
          </div>
          <div class="col-lg-2 align-self-center d-none d-xl-block">
            <div class="header-contact-info text-end">
              <a class="font-weight-6 ltn__primary-color" href="tel:+123456789"><span class="ltn__secondary-color"><i
                    class="icon-call font-weight-7"></i></span> +84 843 281 139</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- header-bottom-area end -->
  </header>
  <!-- HEADER AREA END -->
  <router-outlet></router-outlet>
  <!-- CALL TO ACTION START (call-to-action-6) -->
  <div class="ltn__call-to-action-area call-to-action-6 before-bg-bottom d-none" data-bs-bg="assets/img/1.jpg--">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="call-to-action-inner call-to-action-inner-6 ltn__secondary-bg position-relative text-center---">
            <div class="coll-to-info text-color-white">
              <h1>Buy medical disposable face mask <br> to protect your loved ones</h1>
            </div>
            <div class="btn-wrapper">
              <a class="btn btn-effect-3 btn-white" href="shop.html">Explore Products <i class="icon-next"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- CALL TO ACTION END -->
  <!-- FOOTER AREA START -->
  <footer class="ltn__footer-area">
    <div class="footer-top-area section-bg-2 plr--5">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xl-3 col-md-6 col-sm-6 col-12">
            <div class="footer-widget footer-about-widget">
              <div class="footer-logo">
                <div class="site-logo">
                  <img [src]="'assets/img/logo-2.png'" alt="Logo">
                </div>
              </div>
              <p>T-Medicine luôn đặt sức khỏe của bạn lên hàng đầu. </p>
              <div class="footer-address">
                <ul>
                  <li>
                    <div class="footer-address-icon">
                      <i class="icon-placeholder"></i>
                    </div>
                    <div class="footer-address-info">
                      <p>Thu Duc, Ho Chi Minh</p>
                    </div>
                  </li>
                  <li>
                    <div class="footer-address-icon">
                      <i class="icon-call"></i>
                    </div>
                    <div class="footer-address-info">
                      <p><a href="tel:+0123-456789">+84 843 281 139</a></p>
                    </div>
                  </li>
                  <li>
                    <div class="footer-address-icon">
                      <i class="icon-mail"></i>
                    </div>
                    <div class="footer-address-info">
                      <p><a href="mailto:example@example.com">trungtamthongbaoso15&#64;gmail.com</a></p>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="ltn__social-media mt-20">
                <ul>
                  <li><a href="#" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                  <li><a href="#" title="Twitter"><i class="fab fa-twitter"></i></a></li>
                  <li><a href="#" title="Linkedin"><i class="fab fa-linkedin"></i></a></li>
                  <li><a href="#" title="Youtube"><i class="fab fa-youtube"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xl-2 col-md-6 col-sm-6 col-12">
            <div class="footer-widget footer-menu-widget clearfix">
              <h4 class="footer-title">Khắp cả nước</h4>
              <div class="footer-menu">
                <ul>
                  <li><a href="about.html">Hà Nội</a></li>
                  <li><a href="blog.html">Hải Phòng</a></li>
                  <li><a href="shop.html">Huế</a></li>
                  <li><a href="locations.html">Đà Nẵng</a></li>
                  <li><a href="faq.html">Tp.Hồ Chí Minh</a></li>
                  <li><a href="contact.html">Cần Thơ</a></li>
                  <li><a href="contact.html">...</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xl-2 col-md-6 col-sm-6 col-12">
            <div class="footer-widget footer-menu-widget clearfix">
              <h4 class="footer-title">Dịch vụ</h4>
              <div class="footer-menu">
                <ul>
                  <li><a href="order-tracking.html">Hỗ trợ 24/24 </a></li>
                  <li><a href="wishlist.html">Tư vấn triệu chứng bệnh</a></li>
                  <li><a href="login.html">Bán lẻ trên toàn quốc</a></li>
                  <li><a href="account.html">Thành viên</a></li>
                  <li><a href="about.html">Đa dạng thuốc</a></li>
                  <li><a href="about.html">Toa thuốc đặc trị</a></li>
                  <li><a href="about.html">Đội ngũ bác sĩ </a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xl-2 col-md-6 col-sm-6 col-12">
            <div class="footer-widget footer-menu-widget clearfix">
              <h4 class="footer-title">Quyền lợi</h4>
              <div class="footer-menu">
                <ul>
                  <li><a href="login.html">Miễn phí vận chuyển</a></li>
                  <li><a href="account.html">Theo dõi tình trạng bệnh</a></li>
                  <li><a href="wishlist.html">Thanh toán nhanh chóng</a></li>
                  <li><a href="order-tracking.html">Nhận hàng và thanh toán</a></li>
                  <li><a href="order-tracking.html">Đội ngũ dược sĩ chuyên</a></li>
                  <li><a href="faq.html">Bảo mật</a></li>
                  <li><a href="contact.html">Giải đáp thắc mắc</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-md-6 col-sm-12 col-12">
            <div class="footer-widget footer-newsletter-widget">
              <h4 class="footer-title">Đội ngũ chúng tôi gồm</h4>
              <ul>
                <li><a href="login.html">Phan The Thinh </a></li>
                <li><a href="account.html">Nguyen Tran Phuc Thanh</a></li>
              </ul>
              <!-- <div class="footer-newsletter">
                <form action="#">
                  <input type="email" name="email" placeholder="Email*">
                  <div class="btn-wrapper">
                    <button class="theme-btn-1 btn" type="submit"><i class="fas fa-location-arrow"></i></button>
                  </div>
                </form>
              </div> -->
              <h5 class="mt-30">Hỗ trợ thanh toán</h5>
              <img src="assets/img/icons/payment-4.png" alt="Payment Image">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ltn__copyright-area ltn__copyright-2 section-bg-7 plr--5">
      <div class="container-fluid ltn__border-top-2">
        <div class="row">
          <div class="col-md-6 col-12">
            <div class="ltn__copyright-design clearfix">
              <p>All Rights Reserved Company <span class="current-year"></span></p>
            </div>
          </div>
          <div class="col-md-6 col-12 align-self-center">
            <div class="ltn__copyright-menu text-end">
              <ul>
                <li><a href="#">Điều khoản & điều kiện</a></li>
                <li><a href="#">Bản quyền</a></li>
                <li><a href="#">Chính sách</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- FOOTER AREA END -->
</div>

<router-outlet *ngIf="!showLayout"></router-outlet>