<p-toast position="top-right"></p-toast>
<br>
<!-- SHOP DETAILS AREA START -->
<div class="ltn__shop-details-area pb-85">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div class="ltn__shop-details-inner mb-60">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="ltn__shop-details-img-gallery">
                                <div class="ltn__shop-details-large-img">
                                    <div class="single-large-img">
                                        <a [href]="product.imgUrl" data-rel="lightcase:myCollection">
                                            <img [src]="product.imgUrl" alt="Image">
                                        </a>
                                    </div>
                                    <div class="single-large-img">
                                        <a href="img/product/2.png" data-rel="lightcase:myCollection">
                                            <img src="/assets/img/product/2.png" alt="Image">
                                        </a>
                                    </div>
                                    <div class="single-large-img">
                                        <a href="img/product/3.png" data-rel="lightcase:myCollection">
                                            <img src="/assets/img/product/3.png" alt="Image">
                                        </a>
                                    </div>
                                    <div class="single-large-img">
                                        <a href="img/product/4.png" data-rel="lightcase:myCollection">
                                            <img src="/assets/img/product/4.png" alt="Image">
                                        </a>
                                    </div>
                                    <div class="single-large-img">
                                        <a href="img/product/5.png" data-rel="lightcase:myCollection">
                                            <img src="/assets/img/product/5.png" alt="Image">
                                        </a>
                                    </div>
                                    <div class="single-large-img">
                                        <a href="img/product/6.png" data-rel="lightcase:myCollection">
                                            <img src="/assets/img/product/6.png" alt="Image">
                                        </a>
                                    </div>
                                    <div class="single-large-img">
                                        <a href="img/product/7.png" data-rel="lightcase:myCollection">
                                            <img src="/assets/img/product/7.png" alt="Image">
                                        </a>
                                    </div>
                                </div>
                                <div class="ltn__shop-details-small-img slick-arrow-2">
                                    <div class="single-small-img">
                                        <img [src]="product.imgUrl" alt="Image">
                                    </div>
                                    <div class="single-small-img">
                                        <img src="/assets/img/product/2.png" alt="Image">
                                    </div>
                                    <div class="single-small-img">
                                        <img src="/assets/img/product/3.png" alt="Image">
                                    </div>
                                    <div class="single-small-img">
                                        <img src="/assets/img/product/4.png" alt="Image">
                                    </div>
                                    <div class="single-small-img">
                                        <img src="/assets/img/product/5.png" alt="Image">
                                    </div>
                                    <div class="single-small-img">
                                        <img src="/assets/img/product/6.png" alt="Image">
                                    </div>
                                    <div class="single-small-img">
                                        <img src="/assets/img/product/7.png" alt="Image">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="modal-product-info shop-details-info pl-0">
                                <div class="product-ratting">
                                    <ul>
                                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                                        <li><a href="#"><i class="fas fa-star-half-alt"></i></a></li>
                                        <li><a href="#"><i class="far fa-star"></i></a></li>
                                        <li class="review-total"> <a href="#"> ( {{ comments.length }} {{ 'danh_gia' |
                                                translate }} )</a></li>
                                    </ul>
                                </div>
                                <h3>{{ product.name }}</h3>
                                <div class="product-price">
                                    <span>{{product.price | customCurrency }} </span>
                                    <del>{{product.price +50000 | customCurrency }}</del>
                                </div>
                                <div class="modal-product-meta ltn__product-details-menu-1">
                                    <ul>
                                        <li>
                                            <strong>{{ 'danh_muc' | translate }}:</strong>
                                            <span>
                                                <a href="#">{{product.categoryName}}</a>
                                            </span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="ltn__product-details-menu-2">
                                    <ul>
                                        <li>
                                            <div class="cart-plus-minus">
                                                <input type="text" value="02" name="qtybutton"
                                                    class="cart-plus-minus-box">
                                            </div>
                                        </li>
                                        <li>
                                            <a (click)="addToCart(product)" class="theme-btn-1 btn btn-effect-1"
                                                title="Add to Cart" data-bs-toggle="modal"
                                                data-bs-target="#add_to_cart_modal">
                                                <i class="fas fa-shopping-cart"></i>
                                                <span>{{ 'them_vao_gio' | translate }}</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="ltn__product-details-menu-3">
                                    <ul>
                                        <li>
                                            <a href="#" class="" title="Wishlist" data-bs-toggle="modal"
                                                data-bs-target="#liton_wishlist_modal">
                                                <i class="far fa-heart"></i>
                                                <span>{{ 'yeu_thich' | translate }}</span>
                                            </a>
                                        </li>
                                        
                                    </ul>
                                </div>
                                <hr>
                                <div class="ltn__social-media">
                                    <ul>
                                        <li>{{ 'chia_se' | translate }}:</li>
                                        <li><a href="#" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#" title="Twitter"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="#" title="Linkedin"><i class="fab fa-linkedin"></i></a></li>
                                        <li><a href="#" title="Instagram"><i class="fab fa-instagram"></i></a></li>
                                    </ul>
                                </div>
                                <hr>
                                <div class="ltn__safe-checkout">
                                    <h5>{{ 'thanh_toan_an_toan' | translate }}</h5>
                                    <img src="/assets/img/icons/payment-2.png" alt="Payment Image">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Shop Tab Start -->
                <div class="ltn__shop-details-tab-inner ltn__shop-details-tab-inner-2">
                    <div class="ltn__shop-details-tab-menu">
                        <div class="nav">
                            <a class="active show" data-bs-toggle="tab" href="#liton_tab_details_1_1">{{ 'tong_quan' |
                                translate }}</a>
                            <a data-bs-toggle="tab" href="#liton_tab_details_1_2" class="">{{ 'danh_gia' | translate
                                }}</a>
                        </div>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane fade active show" id="liton_tab_details_1_1">
                            <div class="ltn__shop-details-tab-content-inner">
                                <h4 class="title-2">{{product.name}}.</h4>
                                <p>{{product.note}}.</p>

                            </div>
                        </div>
                        <!-- Reviews Tab Content -->
                        <div class="tab-pane fade" id="liton_tab_details_1_2">
                            <div class="ltn__shop-details-tab-content-inner">
                                <h4 class="title-2">{{ 'danh_gia_khach_hang' | translate }}</h4>
                                <div class="product-ratting">
                                    <ul>
                                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                                        <li><a href="#"><i class="fas fa-star-half-alt"></i></a></li>
                                        <li><a href="#"><i class="far fa-star"></i></a></li>
                                        <li class="review-total">
                                            <a href="#"> ( {{ comments.length }} {{ 'danh_gia' | translate }} )</a>
                                        </li>
                                    </ul>
                                </div>
                                <hr>

                                <!-- Comments Area -->
                                <div class="ltn__comment-area mb-30">
                                    <div class="ltn__comment-inner">
                                        <ul *ngIf="comments.length > 0; else noComments">
                                            <li *ngFor="let comment of comments; trackBy: trackByCommentId">
                                                <!-- Main Comment -->
                                                <div class="ltn__comment-item clearfix">
                                                    <div class="ltn__commenter-img">
                                                        <img src="/assets/img/default-avt.png" alt="User Avatar">
                                                    </div>
                                                    <div class="ltn__commenter-comment">
                                                        <h6><a href="#">{{ comment.username || ('nguoi_dung' |
                                                                translate) + ' #' + comment.accountId }}</a></h6>
                                                        <div class="product-ratting">
                                                            <ul>
                                                                <li *ngFor="let star of getStarArray(5)">
                                                                    <a href="#"><i
                                                                            [class]="star ? 'fas fa-star' : 'far fa-star'"></i></a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <p>{{ comment.comment }}</p>
                                                        <div class="comment-actions">
                                                            <span class="ltn__comment-reply-btn">{{ 'vua_xong' |
                                                                translate }}</span>
                                                            <button class="btn btn-sm btn-outline-primary ms-2"
                                                                (click)="toggleReplyForm(comment.id)">
                                                                {{ showReplyForm[comment.id] ? ('huy' | translate) :
                                                                ('tra_loi' | translate) }}
                                                            </button>
                                                        </div>

                                                        <!-- Reply Form for Main Comment -->
                                                        <div *ngIf="showReplyForm[comment.id]" class="reply-form mt-3">
                                                            <div class="input-group">
                                                                <textarea class="form-control" rows="2"
                                                                    [(ngModel)]="replyForm[comment.id]"
                                                                    [placeholder]="'nhap_tra_loi' | translate">
                                                                </textarea>
                                                                <button class="btn btn-primary" type="button"
                                                                    (click)="submitReply(comment.id)">
                                                                    {{ 'gui_tra_loi' | translate }}
                                                                </button>
                                                            </div>
                                                        </div>

                                                        <!-- Child Comments (Replies) -->
                                                        <div *ngIf="comment.childComments && comment.childComments.length > 0"
                                                            class="child-comments mt-3">
                                                            <ul>
                                                                <li
                                                                    *ngFor="let childComment of comment.childComments; trackBy: trackByCommentId">
                                                                    <div
                                                                        class="ltn__comment-item clearfix child-comment">
                                                                        <div class="ltn__commenter-img">
                                                                            <img src="/assets/img/default-avt.png"
                                                                                alt="User Avatar">
                                                                        </div>
                                                                        <div class="ltn__commenter-comment">
                                                                            <h6><a href="#">{{ childComment.username ||
                                                                                    ('nguoi_dung' | translate) + ' #' +
                                                                                    childComment.accountId }}</a></h6>
                                                                            <p>{{ childComment.comment }}</p>
                                                                            <div class="comment-actions">
                                                                                <span class="ltn__comment-reply-btn">{{
                                                                                    'vua_xong' | translate }}</span>
                                                                                <button
                                                                                    class="btn btn-sm btn-outline-secondary ms-2"
                                                                                    (click)="toggleReplyFormForChild(childComment.id)">
                                                                                    {{ showReplyForm['child_' +
                                                                                    childComment.id] ? ('huy' |
                                                                                    translate) :
                                                                                    ('tra_loi' | translate) }}
                                                                                </button>
                                                                            </div>

                                                                            <!-- Reply Form for Child Comment -->
                                                                            <div *ngIf="showReplyForm['child_' + childComment.id]"
                                                                                class="reply-form mt-2">
                                                                                <div class="input-group">
                                                                                    <textarea class="form-control"
                                                                                        rows="2"
                                                                                        [(ngModel)]="replyForm['child_' + childComment.id]"
                                                                                        [placeholder]="'nhap_tra_loi' | translate">
                                                                                    </textarea>
                                                                                    <button
                                                                                        class="btn btn-primary btn-sm"
                                                                                        type="button"
                                                                                        (click)="submitReplyToChild(comment.id, childComment.id)">
                                                                                        {{ 'gui_tra_loi' | translate }}
                                                                                    </button>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>

                                        <!-- No Comments Template -->
                                        <ng-template #noComments>
                                            <div class="text-center py-4">
                                                <p>{{ 'chua_co_danh_gia' | translate }}</p>
                                            </div>
                                        </ng-template>
                                    </div>
                                </div>

                                <!-- Add New Comment Form -->
                                <div class="ltn__comment-reply-area mb-30">
                                    <form (ngSubmit)="submitComment()" #commentForm="ngForm">
                                        <h4 class="title-2">{{ 'them_danh_gia' | translate }}</h4>
                                
                                        <div class="mb-30">
                                            <div class="add-a-review">
                                                <h6>{{ 'danh_gia_cua_ban' | translate }}:</h6>
                                                <div class="product-ratting">
                                                    <ul>
                                                        <li *ngFor="let i of [1,2,3,4,5]">
                                                            <a href="#" (click)="setRating(i); $event.preventDefault()">
                                                                <i [class]="i <= newComment.rating ? 'fas fa-star' : 'far fa-star'"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                
                                        <div class="comment-form-wrapper">
                                            <div class="input-group">
                                                <textarea class="form-control" rows="4" [(ngModel)]="newComment.comment" name="comment" required
                                                    [placeholder]="'nhap_binh_luan' | translate">
                                                                                </textarea>
                                                <button class="btn btn-primary" type="submit"
                                                    [disabled]="!commentForm.valid || !newComment.comment.trim()">
                                                    {{ 'gui_binh_luan' | translate }}
                                                </button>
                                            </div>
                                        </div>
                                    </form>                          </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Shop Tab End -->
            </div>
            <div class="col-lg-4">
                <aside class="sidebar ltn__shop-sidebar ltn__right-sidebar">
                    <!-- Top Rated Product Widget -->
                    <div class="widget ltn__top-rated-product-widget">
                        <h4 class="ltn__widget-title ltn__widget-title-border">{{ 'san_pham_noi_bat' | translate }}</h4>
                        <ul>
                            <li *ngFor="let product1 of topProducts | slice:0:3">
                                <div class="top-rated-product-item clearfix">
                                    <div class="top-rated-product-img">
                                        <a href="product-details.html"><img [src]="product1.imgUrl" alt="Image"></a>
                                    </div>
                                    <div class="top-rated-product-info">
                                        <div class="product-ratting">
                                            <ul>
                                                <li><a href="#"><i class="fas fa-star"></i></a></li>
                                                <li><a href="#"><i class="fas fa-star"></i></a></li>
                                                <li><a href="#"><i class="fas fa-star"></i></a></li>
                                                <li><a href="#"><i class="fas fa-star"></i></a></li>
                                                <li><a href="#"><i class="fas fa-star"></i></a></li>
                                            </ul>
                                        </div>
                                        <h6><a href="product-details.html">{{ product1.name }}</a></h6>
                                        <div class="product-price">
                                            <span>{{ product1.price | customCurrency }}</span>
                                            <del>{{ (product1.price * 1.2) | customCurrency }}</del>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- Banner Widget -->
                    <div class="widget ltn__banner-widget">
                        <a href="shop.html"><img src="/assets/img/banner/2.jpg" alt="#"></a>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</div>
<!-- SHOP DETAILS AREA END -->

<!-- PRODUCT SLIDER AREA START -->
<div class="ltn__product-slider-area ltn__product-gutter pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title-area ltn__section-title-2">
                    <h4 class="title-2">{{ 'san_pham_lien_quan' | translate }}<span>.</span></h4>
                </div>
            </div>
        </div>
        <div class="row ltn__related-product-slider-one-active slick-arrow-1">
            <!-- ltn__product-item -->
            <div class="col-lg-12">
                <div class="ltn__product-item ltn__product-item-3 text-center">
                    <div class="product-img">
                        <a href="product-details.html"><img src="/assets/img/product/7.png" alt="#"></a>
                        <div class="product-badge">
                            <ul>
                                <li class="sale-badge">{{ 'moi' | translate }}</li>
                            </ul>
                        </div>
                        <div class="product-hover-action">
                            <ul>
                                <li>
                                    <a href="#" [title]="'xem_nhanh' | translate" data-bs-toggle="modal"
                                        data-bs-target="#quick_view_modal">
                                        <i class="far fa-eye"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" [title]="'them_vao_gio' | translate" data-bs-toggle="modal"
                                        data-bs-target="#add_to_cart_modal">
                                        <i class="fas fa-shopping-cart"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" [title]="'yeu_thich' | translate" data-bs-toggle="modal"
                                        data-bs-target="#liton_wishlist_modal">
                                        <i class="far fa-heart"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="product-info">
                        <div class="product-ratting">
                            <ul>
                                <li><a href="#"><i class="fas fa-star"></i></a></li>
                                <li><a href="#"><i class="fas fa-star"></i></a></li>
                                <li><a href="#"><i class="fas fa-star"></i></a></li>
                                <li><a href="#"><i class="fas fa-star-half-alt"></i></a></li>
                                <li><a href="#"><i class="far fa-star"></i></a></li>
                            </ul>
                        </div>
                        <h2 class="product-title"><a href="product-details.html">{{ 'ong_nghe_so' | translate }}</a>
                        </h2>
                        <div class="product-price">
                            <span>$149.00</span>
                            <del>$162.00</del>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ltn__product-item -->
            <div class="col-lg-12">
                <div class="ltn__product-item ltn__product-item-3 text-center">
                    <div class="product-img">
                        <a href="product-details.html"><img src="/assets/img/product/8.png" alt="#"></a>
                        <div class="product-badge">
                            <ul>
                                <li class="sale-badge">{{ 'moi' | translate }}</li>
                            </ul>
                        </div>
                        <div class="product-hover-action">
                            <ul>
                                <li>
                                    <a href="#" [title]="'xem_nhanh' | translate" data-bs-toggle="modal"
                                        data-bs-target="#quick_view_modal">
                                        <i class="far fa-eye"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" [title]="'them_vao_gio' | translate" data-bs-toggle="modal"
                                        data-bs-target="#add_to_cart_modal">
                                        <i class="fas fa-shopping-cart"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" [title]="'yeu_thich' | translate" data-bs-toggle="modal"
                                        data-bs-target="#liton_wishlist_modal">
                                        <i class="far fa-heart"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="product-info">
                        <div class="product-ratting">
                            <ul>
                                <li><a href="#"><i class="fas fa-star"></i></a></li>
                                <li><a href="#"><i class="fas fa-star"></i></a></li>
                                <li><a href="#"><i class="fas fa-star"></i></a></li>
                                <li><a href="#"><i class="fas fa-star-half-alt"></i></a></li>
                                <li><a href="#"><i class="far fa-star"></i></a></li>
                            </ul>
                        </div>
                        <h2 class="product-title"><a href="product-details.html">{{ 'sung_do_nhiet_do' | translate
                                }}</a></h2>
                        <div class="product-price">
                            <span>$62.00</span>
                            <del>$85.00</del>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ltn__product-item -->
            <div class="col-lg-12">
                <div class="ltn__product-item ltn__product-item-3 text-center">
                    <div class="product-img">
                        <a href="product-details.html"><img src="/assets/img/product/9.png" alt="#"></a>
                        <div class="product-badge">
                            <ul>
                                <li class="sale-badge">{{ 'moi' | translate }}</li>
                            </ul>
                        </div>
                        <div class="product-hover-action">
                            <ul>
                                <li>
                                    <a href="#" [title]="'xem_nhanh' | translate" data-bs-toggle="modal"
                                        data-bs-target="#quick_view_modal">
                                        <i class="far fa-eye"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" [title]="'them_vao_gio' | translate" data-bs-toggle="modal"
                                        data-bs-target="#add_to_cart_modal">
                                        <i class="fas fa-shopping-cart"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" [title]="'yeu_thich' | translate" data-bs-toggle="modal"
                                        data-bs-target="#liton_wishlist_modal">
                                        <i class="far fa-heart"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="product-info">
                        <div class="product-ratting">
                            <ul>
                                <li><a href="#"><i class="fas fa-star"></i></a></li>
                                <li><a href="#"><i class="fas fa-star"></i></a></li>
                                <li><a href="#"><i class="fas fa-star"></i></a></li>
                                <li><a href="#"><i class="fas fa-star-half-alt"></i></a></li>
                                <li><a href="#"><i class="far fa-star"></i></a></li>
                            </ul>
                        </div>
                        <h2 class="product-title"><a href="product-details.html">{{ 'hop_my_pham' | translate }}</a>
                        </h2>
                        <div class="product-price">
                            <span>$75.00</span>
                            <del>$92.00</del>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ltn__product-item -->
            <div class="col-lg-12">
                <div class="ltn__product-item ltn__product-item-3 text-center">
                    <div class="product-img">
                        <a href="product-details.html"><img src="/assets/img/product/10.png" alt="#"></a>
                        <div class="product-badge">
                            <ul>
                                <li class="sale-badge">{{ 'moi' | translate }}</li>
                            </ul>
                        </div>
                        <div class="product-hover-action">
                            <ul>
                                <li>
                                    <a href="#" [title]="'xem_nhanh' | translate" data-bs-toggle="modal"
                                        data-bs-target="#quick_view_modal">
                                        <i class="far fa-eye"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" [title]="'them_vao_gio' | translate" data-bs-toggle="modal"
                                        data-bs-target="#add_to_cart_modal">
                                        <i class="fas fa-shopping-cart"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" [title]="'yeu_thich' | translate" data-bs-toggle="modal"
                                        data-bs-target="#liton_wishlist_modal">
                                        <i class="far fa-heart"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="product-info">
                        <div class="product-ratting">
                            <ul>
                                <li><a href="#"><i class="fas fa-star"></i></a></li>
                                <li><a href="#"><i class="fas fa-star"></i></a></li>
                                <li><a href="#"><i class="fas fa-star"></i></a></li>
                                <li><a href="#"><i class="fas fa-star-half-alt"></i></a></li>
                                <li><a href="#"><i class="far fa-star"></i></a></li>
                            </ul>
                        </div>
                        <h2 class="product-title"><a href="product-details.html">{{ 'hop_my_pham' | translate }}</a>
                        </h2>
                        <div class="product-price">
                            <span>$78.00</span>
                            <del>$85.00</del>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ltn__product-item -->
            <div class="col-lg-12">
                <div class="ltn__product-item ltn__product-item-3 text-center">
                    <div class="product-img">
                        <a href="product-details.html"><img src="/assets/img/product/5.png" alt="#"></a>
                        <div class="product-badge">
                            <ul>
                                <li class="sale-badge">{{ 'moi' | translate }}</li>
                            </ul>
                        </div>
                        <div class="product-hover-action">
                            <ul>
                                <li>
                                    <a href="#" [title]="'xem_nhanh' | translate" data-bs-toggle="modal"
                                        data-bs-target="#quick_view_modal">
                                        <i class="far fa-eye"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" [title]="'them_vao_gio' | translate" data-bs-toggle="modal"
                                        data-bs-target="#add_to_cart_modal">
                                        <i class="fas fa-shopping-cart"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" [title]="'yeu_thich' | translate" data-bs-toggle="modal"
                                        data-bs-target="#liton_wishlist_modal">
                                        <i class="far fa-heart"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="product-info">
                        <div class="product-ratting">
                            <ul>
                                <li><a href="#"><i class="fas fa-star"></i></a></li>
                                <li><a href="#"><i class="fas fa-star"></i></a></li>
                                <li><a href="#"><i class="fas fa-star"></i></a></li>
                                <li><a href="#"><i class="fas fa-star-half-alt"></i></a></li>
                                <li><a href="#"><i class="far fa-star"></i></a></li>
                            </ul>
                        </div>
                        <h2 class="product-title"><a href="product-details.html">{{ 'gang_tay_xanh' | translate }}</a>
                        </h2>
                        <div class="product-price">
                            <span>$150.00</span>
                            <del>$180.00</del>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ltn__product-item -->
            <div class="col-lg-12">
                <div class="ltn__product-item ltn__product-item-3 text-center">
                    <div class="product-img">
                        <a href="product-details.html"><img src="/assets/img/product/6.png" alt="#"></a>
                        <div class="product-badge">
                            <ul>
                                <li class="sale-badge">{{ 'moi' | translate }}</li>
                            </ul>
                        </div>
                        <div class="product-hover-action">
                            <ul>
                                <li>
                                    <a href="#" [title]="'xem_nhanh' | translate" data-bs-toggle="modal"
                                        data-bs-target="#quick_view_modal">
                                        <i class="far fa-eye"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" [title]="'them_vao_gio' | translate" data-bs-toggle="modal"
                                        data-bs-target="#add_to_cart_modal">
                                        <i class="fas fa-shopping-cart"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" [title]="'yeu_thich' | translate" data-bs-toggle="modal"
                                        data-bs-target="#liton_wishlist_modal">
                                        <i class="far fa-heart"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="product-info">
                        <div class="product-ratting">
                            <ul>
                                <li><a href="#"><i class="fas fa-star"></i></a></li>
                                <li><a href="#"><i class="fas fa-star"></i></a></li>
                                <li><a href="#"><i class="fas fa-star"></i></a></li>
                                <li><a href="#"><i class="fas fa-star-half-alt"></i></a></li>
                                <li><a href="#"><i class="far fa-star"></i></a></li>
                            </ul>
                        </div>
                        <h2 class="product-title"><a href="product-details.html">{{ 'sung_do_nhiet_do' | translate
                                }}</a></h2>
                        <div class="product-price">
                            <span>$150.00</span>
                            <del>$180.00</del>
                        </div>
                    </div>
                </div>
            </div>
            <!--  -->
        </div>
    </div>
</div>
<!-- PRODUCT SLIDER AREA END -->